* {
    padding: 0;
    margin: 0;
}

#app {
    height: 100%;
    width: 100%;
    margin: 0 100px;
}

.page-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #f7f7f7;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}